# Lab 4: dplyr examples

In [1]:
require(tidyverse)
options(repr.plot.height=4)

Loading required package: tidyverse

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.0.6     ✔ dplyr   1.0.4
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# Review
For now, we are going to work with the following dplyr functions:

    * filter
    * arrange
    * select
    * mutate

Today we are going to work on `midwest` dataset. It has demographic information of midwest counties.

In [2]:
head(midwest)

  PID county    state area  poptotal popdensity popwhite popblack popamerindian
1 561 ADAMS     IL    0.052 66090    1270.9615  63917    1702     98
2 562 ALEXANDER IL    0.014 10626     759.0000   7054    3496     19
3 563 BOND      IL    0.022 14991     681.4091  14477     429     35
4 564 BOONE     IL    0.017 30806    1812.1176  29344     127     46
5 565 BROWN     IL    0.018  5836     324.2222   5264     547     14
6 566 BUREAU    IL    0.050 35688     713.7600  35157      50     65
  popasian ⋯ percollege percprof poppovertyknown percpovertyknown
1 249      ⋯ 19.63139   4.355859 63628           96.27478
2  48      ⋯ 11.24331   2.870315 10529           99.08714
3  16      ⋯ 17.03382   4.488572 14235           94.95697
4 150      ⋯ 17.27895   4.197800 30337           98.47757
5   5      ⋯ 14.47600   3.367680  4815           82.50514
6 195      ⋯ 18.90462   3.275891 35107           98.37200
  percbelowpoverty percchildbelowpovert percadultpoverty percelderlypoverty
1 13.151443        18.01172             11.009776        12.443812
2 32.244278        45.82651             27.385647        25.228976
3 12.068844        14.03606             10.852090        12.697410
4  7.209019        11.17954              5.536013         6.217047
5 13.520249        13.02289             11.143211        19.200000
6 10.399635        14.15882              8.179287        11.008586
  inmetro category
1 0       AAR
2 0       LHR
3 0       AAR
4 1       ALU
5 0       AAR
6 0       AAR

In [ ]:
?midwest

#### Filter: Create a new dataset called `michigan` which only consist of michigan counties

In [4]:
michigan = midwest %>% filter(state == 'MI')

#### Arrange: Print top 10  Michigan counties by decsending area size

In [5]:
michigan %>% arrange(desc(area)) %>% head(10)

   PID  county      state area  poptotal popdensity popwhite popblack
1  1248 MARQUETTE   MI    0.110 70887    644.4273   68027    1170
2  1213 CHIPPEWA    MI    0.078 34604    443.6410   28353    2184
3  1262 ONTONAGON   MI    0.078  8854    113.5128    8723       4
4  1273 SCHOOLCRAFT MI    0.075  8302    110.6933    7755       7
5  1232 IRON        MI    0.070 13175    188.2143   13028       4
6  1217 DELTA       MI    0.069 37780    547.5362   36819      16
7  1223 GOGEBIC     MI    0.068 18052    265.4706   17486     243
8  1251 MENOMINEE   MI    0.064 24920    389.3750   24464       7
9  1227 HOUGHTON    MI    0.060 35446    590.7667   34469     158
10 1245 MACKINAC    MI    0.059 10674    180.9153    8955       5
   popamerindian popasian ⋯ percollege percprof poppovertyknown
1   943          538      ⋯ 26.76355   6.799415 66398
2  3820          152      ⋯ 16.93977   3.808129 29486
3   109           15      ⋯ 15.95676   2.662149  8712
4   519           13      ⋯ 14.56672   2.764487  8218
5   102           32      ⋯ 15.45758   3.283302 12886
6   809           99      ⋯ 18.91240   3.525903 37242
7   283           26      ⋯ 21.17308   3.352805 17385
8   382           60      ⋯ 15.08417   2.652295 24562
9   153          610      ⋯ 24.76509   7.328296 32448
10 1691           11      ⋯ 15.28787   2.780883 10570
   percpovertyknown percbelowpoverty percchildbelowpovert percadultpoverty
1  93.66739         12.60881         14.26216             11.84465
2  85.20980         17.07590         20.95597             16.10350
3  98.39621         13.18871         16.51637             11.80804
4  98.98820         16.60988         20.72882             15.32121
5  97.80645         17.11935         23.32412             14.45616
6  98.57597         14.61253         18.59113             13.12755
7  96.30512         14.88064         19.54478             13.59873
8  98.56340         12.75140         14.06867             11.30868
9  91.54206         21.03674         21.19898             23.69715
10 99.02567         16.40492         22.24231             14.99346
   percelderlypoverty inmetro category
1  12.52389           0       HAR
2  14.33915           0       AAR
3  12.80000           0       AAR
4  14.89899           0       AAR
5  16.51224           0       AAR
6  13.10731           0       AAR
7  13.25794           0       AAR
8  14.55126           0       AAR
9  14.57849           0       AHR
10 12.90717           0       AAR

#### Select: Print the same plot, this time only with county name and area

In [6]:
michigan %>% arrange(desc(area)) %>% head(10) %>% select(county, area)

   county      area
1  MARQUETTE   0.110
2  CHIPPEWA    0.078
3  ONTONAGON   0.078
4  SCHOOLCRAFT 0.075
5  IRON        0.070
6  DELTA       0.069
7  GOGEBIC     0.068
8  MENOMINEE   0.064
9  HOUGHTON    0.060
10 MACKINAC    0.059

#### Mutate: This time use `diamonds` dataset and create a new variable called `volume`. Simply by multiplying `x`,`y` and `z` and print top 10 by volume

In [7]:
diamonds %>% 
mutate(volume = x*y*z) %>% arrange(desc(volume)) %>% head(10)

   carat cut       color clarity depth table price x     y     z     volume
1  2.00  Premium   H     SI2     58.9  57.0  12210  8.09 58.90  8.06 3840.5981
2  0.51  Very Good E     VS1     61.8  54.7   1970  5.12  5.15 31.80  838.5024
3  0.51  Ideal     E     VS1     61.8  55.0   2075  5.15 31.80  5.12  838.5024
4  5.01  Fair      J     I1      65.5  59.0  18018 10.74 10.54  6.98  790.1332
5  4.50  Fair      J     I1      65.8  58.0  18531 10.23 10.16  6.72  698.4553
6  4.13  Fair      H     I1      64.8  61.0  17329 10.00  9.85  6.43  633.3550
7  4.01  Premium   I     I1      61.0  61.0  15223 10.14 10.10  6.17  631.8944
8  4.00  Very Good I     I1      63.3  58.0  15984 10.01  9.94  6.31  627.8412
9  4.01  Premium   J     I1      62.5  62.0  15223 10.02  9.94  6.24  621.4965
10 3.67  Premium   I     I1      62.4  56.0  16193  9.86  9.81  6.13  592.9341

# Challenge exercises

#### 1. Create a new dataset called `michigan_diverse` which satisfies following conditions:
    * Only has Michigan counties 
    * Counties which have more than 5 percent African-American population
    * Also, at least 15 percent non-white races
    * Only include the variables county and variables which has `pop` in its name

In [8]:
?midwest

#### 2. Show population variation of counties in a  state using box-plot. And limit the population by half a million

#### 3. Find the Illinois counties which are top 15 by population as well as top 15 by area.

#### 4. Show the relationship between percentage of adult poverty vs. percentage of college grads on the `log10` scale, conditioned on state (color  by). Also plot the best linear line (without "se" error margin).

#### 5. Create a new variable called `poverty`, which is `Critical` if `percbelowpoverty` greater than 25, `percadultpoverty` greater than 15 and  `percelderlypoverty` greater than 10, otherwise it is `Normal`. After you create it, print out the critical Michigan counties.