# Lab 7: Missing Values and Cleaning Messy Data

In [199]:
library(tidyverse)

In [200]:
(stocks <- tibble(
  Year   = c(2015, 2015, 2015, 2015, 2016, 2016, 2016),
  Qtr    = c(   1,    2,    3,    4,    2,    3,    4),
  Return = c(1.88, 0.59, 0.35,   NA, 0.92, 0.17, 2.66)
))

  Year Qtr Return
1 2015 1   1.88
2 2015 2   0.59
3 2015 3   0.35
4 2015 4     NA
5 2016 2   0.92
6 2016 3   0.17
7 2016 4   2.66

## Missing Values
Missing values can be:
1. *Explicit* (marked as NA in our data)
1. *Implicit* (not present in the data)

In this example we have one explicitly missing value for the 4th quarter of 2015. Are there any other missing values? Yes, because we do not have an observation for the first quarter of 2016.

`complete`: Turns implicit missing values into explicit missing values.

In [201]:
?complete

In [202]:
stocks %>% complete(Year, Qtr)

  Year Qtr Return
1 2015 1   1.88
2 2015 2   0.59
3 2015 3   0.35
4 2015 4     NA
5 2016 1     NA
6 2016 2   0.92
7 2016 3   0.17
8 2016 4   2.66

`fill`: Fills missing values in selected columns using the previous entry.

In [203]:
stocks %>% complete(Year, Qtr) %>% fill(Return)
# yoou can look up imputation methods

  Year Qtr Return
1 2015 1   1.88
2 2015 2   0.59
3 2015 3   0.35
4 2015 4   0.35
5 2016 1   0.35
6 2016 2   0.92
7 2016 3   0.17
8 2016 4   2.66

The missing values also become `explicit` if we widen the tibble.

In [204]:
stocks_wide = stocks %>% pivot_wider(names_from = Year, values_from = Return)

stocks_wide

  Qtr 2015 2016
1 1   1.88   NA
2 2   0.59 0.92
3 3   0.35 0.17
4 4     NA 2.66

`pivot_longer` will keep all these explicitly missing values by default.

In [205]:
stocks_wide %>% pivot_longer(cols = `2015`:`2016`, names_to = 'Year') %>%
arrange(Year)

  Qtr Year value
1 1   2015 1.88
2 2   2015 0.59
3 3   2015 0.35
4 4   2015   NA
5 1   2016   NA
6 2   2016 0.92
7 3   2016 0.17
8 4   2016 2.66

## Cleaning the messy data

In [206]:
datacamp_url = "https://assets.datacamp.com/production/repositories/34/datasets/b3c1036d9a60a9dfe0f99051d2474a54f76055ea/weather.rds"
weather = readRDS(url(datacamp_url))

In [207]:
weather %>% head

  X year month measure           X1 X2 X3 X4 X5 X6 ⋯ X22 X23 X24 X25 X26 X27
1 1 2014 12    Max.TemperatureF  64 42 51 43 42 45 ⋯ 44  47  46  59  50  52
2 2 2014 12    Mean.TemperatureF 52 38 44 37 34 42 ⋯ 39  45  44  52  44  45
3 3 2014 12    Min.TemperatureF  39 33 37 30 26 38 ⋯ 33  42  41  44  37  38
4 4 2014 12    Max.Dew.PointF    46 40 49 24 37 45 ⋯ 39  45  46  58  31  34
5 5 2014 12    MeanDew.PointF    40 27 42 21 25 40 ⋯ 34  42  44  43  29  31
6 6 2014 12    Min.DewpointF     26 17 24 13 12 36 ⋯ 25  37  41  29  28  29
  X28 X29 X30 X31
1 52  41  30  30
2 46  36  26  25
3 40  30  22  20
4 42  26  10  8
5 35  20  4   5
6 27  10  -6  1

The first row is for row number, let's ignore that

In [208]:
weather = weather %>% select(-X)

It looks like the values for the weather measurements (column 3) for each day of the month are stored in the columns `X1` to `X31`. From `tidy data` perspective, the data set is messy because:
* column names are values (`X1` to `X31`)
* variable names are represented as values (column 3 - `measure`)

We can correct it by using `pivot_longer`

In [209]:
tidy_weather = weather %>% 
pivot_longer(cols = `X1`:`X31`, names_to = 'day', values_to = "value") %>%
select(year, month, day, everything())

head(tidy_weather)

  year month day measure          value
1 2014 12    X1  Max.TemperatureF 64
2 2014 12    X2  Max.TemperatureF 42
3 2014 12    X3  Max.TemperatureF 51
4 2014 12    X4  Max.TemperatureF 43
5 2014 12    X5  Max.TemperatureF 42
6 2014 12    X6  Max.TemperatureF 45

In [210]:
tidy_weather %>% select(measure)%>% unique

   measure
1  Max.TemperatureF
2  Mean.TemperatureF
3  Min.TemperatureF
4  Max.Dew.PointF
5  MeanDew.PointF
6  Min.DewpointF
7  Max.Humidity
8  Mean.Humidity
9  Min.Humidity
10 Max.Sea.Level.PressureIn
11 Mean.Sea.Level.PressureIn
12 Min.Sea.Level.PressureIn
13 Max.VisibilityMiles
14 Mean.VisibilityMiles
15 Min.VisibilityMiles
16 Max.Wind.SpeedMPH
17 Mean.Wind.SpeedMPH
18 Max.Gust.SpeedMPH
19 PrecipitationIn
20 CloudCover
21 Events
22 WindDirDegrees

The values in the column `measure` of the weather dataset should be variables.

In [211]:
tidy_weather = tidy_weather %>% pivot_wider(names_from = measure, values_from = value)

head(tidy_weather)

  year month day Max.TemperatureF Mean.TemperatureF Min.TemperatureF
1 2014 12    X1  64               52                39
2 2014 12    X2  42               38                33
3 2014 12    X3  51               44                37
4 2014 12    X4  43               37                30
5 2014 12    X5  42               34                26
6 2014 12    X6  45               42                38
  Max.Dew.PointF MeanDew.PointF Min.DewpointF Max.Humidity ⋯
1 46             40             26            74           ⋯
2 40             27             17            92           ⋯
3 49             42             24            100          ⋯
4 24             21             13            69           ⋯
5 37             25             12            85           ⋯
6 45             40             36            100          ⋯
  Max.VisibilityMiles Mean.VisibilityMiles Min.VisibilityMiles
1 10                  10                   10
2 10                  8                    2
3 10                  5                    1
4 10                  10                   10
5 10                  10                   5
6 10                  4                    0
  Max.Wind.SpeedMPH Mean.Wind.SpeedMPH Max.Gust.SpeedMPH PrecipitationIn
1 22                13                 29                0.01
2 24                15                 29                0.10
3 29                12                 38                0.44
4 25                12                 33                0.00
5 22                10                 26                0.11
6 22                8                  25                1.09
  CloudCover Events    WindDirDegrees
1 6          Rain      268
2 7          Rain-Snow 62
3 8          Rain      254
4 3                    292
5 5          Rain      61
6 8          Rain      313

In [212]:
tidy_weather %>% head

  year month day Max.TemperatureF Mean.TemperatureF Min.TemperatureF
1 2014 12    X1  64               52                39
2 2014 12    X2  42               38                33
3 2014 12    X3  51               44                37
4 2014 12    X4  43               37                30
5 2014 12    X5  42               34                26
6 2014 12    X6  45               42                38
  Max.Dew.PointF MeanDew.PointF Min.DewpointF Max.Humidity ⋯
1 46             40             26            74           ⋯
2 40             27             17            92           ⋯
3 49             42             24            100          ⋯
4 24             21             13            69           ⋯
5 37             25             12            85           ⋯
6 45             40             36            100          ⋯
  Max.VisibilityMiles Mean.VisibilityMiles Min.VisibilityMiles
1 10                  10                   10
2 10                  8                    2
3 10                  5                    1
4 10                  10                   10
5 10                  10                   5
6 10                  4                    0
  Max.Wind.SpeedMPH Mean.Wind.SpeedMPH Max.Gust.SpeedMPH PrecipitationIn
1 22                13                 29                0.01
2 24                15                 29                0.10
3 29                12                 38                0.44
4 25                12                 33                0.00
5 22                10                 26                0.11
6 22                8                  25                1.09
  CloudCover Events    WindDirDegrees
1 6          Rain      268
2 7          Rain-Snow 62
3 8          Rain      254
4 3                    292
5 5          Rain      61
6 8          Rain      313

There are couple of things still odd in this dataset. One of them is name of the days. They start with an `X`. We can fix it by `str_replace` function. In following weeks, we are going to cover it in detail when we cover the strings. Let me quickly remind you the usage:

In [213]:
# Replace $ with nothing, so it removes the dollar sign
cost = c("$8", "12.5$", "$45")
cost = str_replace_all(cost, "\\$", "")
print(cost) 

#change its type to numeric
cost = as.numeric(cost)
print(cost)

[1] "8"    "12.5" "45"
[1]  8.0 12.5 45.0

#### Exercise 1: Remove `X` from the `day` entries and change its type to `numeric`

In [214]:
tidy_weather = tidy_weather %>% mutate(day = as.integer(str_replace(day, "X", "")))
tidy_weather %>% head

  year month day Max.TemperatureF Mean.TemperatureF Min.TemperatureF
1 2014 12    1   64               52                39
2 2014 12    2   42               38                33
3 2014 12    3   51               44                37
4 2014 12    4   43               37                30
5 2014 12    5   42               34                26
6 2014 12    6   45               42                38
  Max.Dew.PointF MeanDew.PointF Min.DewpointF Max.Humidity ⋯
1 46             40             26            74           ⋯
2 40             27             17            92           ⋯
3 49             42             24            100          ⋯
4 24             21             13            69           ⋯
5 37             25             12            85           ⋯
6 45             40             36            100          ⋯
  Max.VisibilityMiles Mean.VisibilityMiles Min.VisibilityMiles
1 10                  10                   10
2 10                  8                    2
3 10                  5                    1
4 10                  10                   10
5 10                  10                   5
6 10                  4                    0
  Max.Wind.SpeedMPH Mean.Wind.SpeedMPH Max.Gust.SpeedMPH PrecipitationIn
1 22                13                 29                0.01
2 24                15                 29                0.10
3 29                12                 38                0.44
4 25                12                 33                0.00
5 22                10                 26                0.11
6 22                8                  25                1.09
  CloudCover Events    WindDirDegrees
1 6          Rain      268
2 7          Rain-Snow 62
3 8          Rain      254
4 3                    292
5 5          Rain      61
6 8          Rain      313

#### Exercise 2: Combine the year, month, and day columns into a new column called date. Hint: Use `unite` function

In [215]:
tidy_weather = tidy_weather %>%
unite(col = date, day, month, year, sep = "-")

tidy_weather %>% head

  date      Max.TemperatureF Mean.TemperatureF Min.TemperatureF Max.Dew.PointF
1 1-12-2014 64               52                39               46
2 2-12-2014 42               38                33               40
3 3-12-2014 51               44                37               49
4 4-12-2014 43               37                30               24
5 5-12-2014 42               34                26               37
6 6-12-2014 45               42                38               45
  MeanDew.PointF Min.DewpointF Max.Humidity Mean.Humidity Min.Humidity ⋯
1 40             26            74           63            52           ⋯
2 27             17            92           72            51           ⋯
3 42             24            100          79            57           ⋯
4 21             13            69           54            39           ⋯
5 25             12            85           66            47           ⋯
6 40             36            100          93            85           ⋯
  Max.VisibilityMiles Mean.VisibilityMiles Min.VisibilityMiles
1 10                  10                   10
2 10                  8                    2
3 10                  5                    1
4 10                  10                   10
5 10                  10                   5
6 10                  4                    0
  Max.Wind.SpeedMPH Mean.Wind.SpeedMPH Max.Gust.SpeedMPH PrecipitationIn
1 22                13                 29                0.01
2 24                15                 29                0.10
3 29                12                 38                0.44
4 25                12                 33                0.00
5 22                10                 26                0.11
6 22                8                  25                1.09
  CloudCover Events    WindDirDegrees
1 6          Rain      268
2 7          Rain-Snow 62
3 8          Rain      254
4 3                    292
5 5          Rain      61
6 8          Rain      313

#### Exercise 3: Move events variable to the second column (Just after the `date`)

In [216]:
tidy_weather = tidy_weather %>% 
select(date, Events, everything())
tidy_weather

    date       Events    Max.TemperatureF Mean.TemperatureF Min.TemperatureF
1   1-12-2014  Rain      64               52                39
2   2-12-2014  Rain-Snow 42               38                33
3   3-12-2014  Rain      51               44                37
4   4-12-2014            43               37                30
5   5-12-2014  Rain      42               34                26
6   6-12-2014  Rain      45               42                38
7   7-12-2014  Rain      38               30                21
8   8-12-2014  Snow      29               24                18
9   9-12-2014  Rain      49               39                29
10  10-12-2014 Rain      48               43                38
11  11-12-2014 Rain-Snow 39               36                32
12  12-12-2014 Snow      39               35                31
13  13-12-2014           42               37                32
14  14-12-2014           45               39                33
15  15-12-2014           42               37                32
16  16-12-2014 Rain      44               40                35
17  17-12-2014 Rain      49               45                41
18  18-12-2014 Rain      44               40                36
19  19-12-2014           37               33                29
20  20-12-2014 Snow      36               32                27
21  21-12-2014 Snow      36               33                30
22  22-12-2014 Rain      44               39                33
23  23-12-2014 Rain      47               45                42
24  24-12-2014 Fog-Rain  46               44                41
25  25-12-2014 Rain      59               52                44
26  26-12-2014           50               44                37
27  27-12-2014           52               45                38
28  28-12-2014 Rain      52               46                40
29  29-12-2014           41               36                30
30  30-12-2014           30               26                22
⋮   ⋮          ⋮         ⋮                ⋮                 ⋮
374 2-12-2015  NA        NA               NA                NA
375 3-12-2015  NA        NA               NA                NA
376 4-12-2015  NA        NA               NA                NA
377 5-12-2015  NA        NA               NA                NA
378 6-12-2015  NA        NA               NA                NA
379 7-12-2015  NA        NA               NA                NA
380 8-12-2015  NA        NA               NA                NA
381 9-12-2015  NA        NA               NA                NA
382 10-12-2015 NA        NA               NA                NA
383 11-12-2015 NA        NA               NA                NA
384 12-12-2015 NA        NA               NA                NA
385 13-12-2015 NA        NA               NA                NA
386 14-12-2015 NA        NA               NA                NA
387 15-12-2015 NA        NA               NA                NA
388 16-12-2015 NA        NA               NA                NA
389 17-12-2015 NA        NA               NA                NA
390 18-12-2015 NA        NA               NA                NA
391 19-12-2015 NA        NA               NA                NA
392 20-12-2015 NA        NA               NA                NA
393 21-12-2015 NA        NA               NA                NA
394 22-12-2015 NA        NA               NA                NA
395 23-12-2015 NA        NA               NA                NA
396 24-12-2015 NA        NA               NA                NA
397 25-12-2015 NA        NA               NA                NA
398 26-12-2015 NA        NA               NA                NA
399 27-12-2015 NA        NA               NA                NA
400 28-12-2015 NA        NA               NA                NA
401 29-12-2015 NA        NA               NA                NA
402 30-12-2015 NA        NA               NA                NA
403 31-12-2015 NA        NA               NA                NA
    Max.Dew.PointF MeanDew.PointF Min.DewpointF Max.Humidity Mean.Humidity ⋯
1   46             40             26            74           63            ⋯
2   40             27             17            92           72            ⋯
3   49             42             24            100          79            ⋯
4   24             21             13            69           54            ⋯
5   37             25             12            85           66            ⋯
6   45             40             36            100          93            ⋯
7   36             20             -3            92           61            ⋯
8   28             16             3             92           70            ⋯
9   49             41             28            100          93            ⋯
10  45             39             37            100          95            ⋯
11  37             31             27            92           87            ⋯
12  28             27             25            85           75            ⋯
13  28             26             24            75           65            ⋯
14  29             27             25            82           68            ⋯
15  33             29             27            89           75            ⋯
16  42             36             30            96           85            ⋯
17  46             41             32            100          85            ⋯
18  34             30             26            89           73            ⋯
19  25             22             20            69           63            ⋯
20  30             24             20            89           79            ⋯
21  30             27             25            85           77            ⋯
22  39             34             25            89           79            ⋯
23  45             42             37            100          91            ⋯
24  46             44             41            100          98            ⋯
25  58             43             29            100          75            ⋯
26  31             29             28            70           60            ⋯
27  34             31             29            70           60            ⋯
28  42             35             27            76           65            ⋯
29  26             20             10            64           51            ⋯
30  10             4              -6            50           38            ⋯
⋮   ⋮              ⋮              ⋮             ⋮            ⋮             ⋱
374 NA             NA             NA            NA           NA            ⋯
375 NA             NA             NA            NA           NA            ⋯
376 NA             NA             NA            NA           NA            ⋯
377 NA             NA             NA            NA           NA            ⋯
378 NA             NA             NA            NA           NA            ⋯
379 NA             NA             NA            NA           NA            ⋯
380 NA             NA             NA            NA           NA            ⋯
381 NA             NA             NA            NA           NA            ⋯
382 NA             NA             NA            NA           NA            ⋯
383 NA             NA             NA            NA           NA            ⋯
384 NA             NA             NA            NA           NA            ⋯
385 NA             NA             NA            NA           NA            ⋯
386 NA             NA             NA            NA           NA            ⋯
387 NA             NA             NA            NA           NA            ⋯
388 NA             NA             NA            NA           NA            ⋯
389 NA             NA             NA            NA           NA            ⋯
390 NA             NA             NA            NA           NA            ⋯
391 NA             NA             NA            NA           NA            ⋯
392 NA             NA             NA            NA           NA            ⋯
393 NA             NA             NA            NA           NA            ⋯
394 NA             NA             NA            NA           NA            ⋯
395 NA             NA             NA            NA           NA            ⋯
396 NA             NA             NA            NA           NA            ⋯
397 NA             NA             NA            NA           NA            ⋯
398 NA             NA             NA            NA           NA            ⋯
399 NA             NA             NA            NA           NA            ⋯
400 NA             NA             NA            NA           NA            ⋯
401 NA             NA             NA            NA           NA            ⋯
402 NA             NA             NA            NA           NA            ⋯
403 NA             NA             NA            NA           NA            ⋯
    Min.Sea.Level.PressureIn Max.VisibilityMiles Mean.VisibilityMiles
1   30.01                    10                  10
2   30.4                     10                  8
3   29.87                    10                  5
4   30.09                    10                  10
5   30.45                    10                  10
6   30.16                    10                  4
7   30.24                    10                  10
8   30.51                    10                  8
9   29.49                    10                  2
10  29.43                    10                  3
11  29.44                    10                  7
12  29.81                    10                  10
13  29.78                    10                  10
14  29.78                    10                  10
15  29.91                    10                  10
16  29.92                    10                  9
17  29.69                    10                  6
18  29.71                    10                  10
19  29.86                    10                  10
20  30.17                    10                  10
21  30.28                    10                  9
22  30.3                     10                  10
23  30.16                    10                  5
24  29.55                    2                   1
25  29.47                    10                  8
26  29.99                    10                  10
27  30.03                    10                  10
28  29.77                    10                  10
29  30                       10                  10
30  30.23                    10                  10
⋮   ⋮                        ⋮                   ⋮
374 NA                       NA                  NA
375 NA                       NA                  NA
376 NA                       NA                  NA
377 NA                       NA                  NA
378 NA                       NA                  NA
379 NA                       NA                  NA
380 NA                       NA                  NA
381 NA                       NA                  NA
382 NA                       NA                  NA
383 NA                       NA                  NA
384 NA                       NA                  NA
385 NA                       NA                  NA
386 NA                       NA                  NA
387 NA                       NA                  NA
388 NA                       NA                  NA
389 NA                       NA                  NA
390 NA                       NA                  NA
391 NA                       NA                  NA
392 NA                       NA                  NA
393 NA                       NA                  NA
394 NA                       NA                  NA
395 NA                       NA                  NA
396 NA                       NA                  NA
397 NA                       NA                  NA
398 NA                       NA                  NA
399 NA                       NA                  NA
400 NA                       NA                  NA
401 NA                       NA                  NA
402 NA                       NA                  NA
403 NA                       NA                  NA
    Min.VisibilityMiles Max.Wind.SpeedMPH Mean.Wind.SpeedMPH Max.Gust.SpeedMPH
1   10                  22                13                 29
2   2                   24                15                 29
3   1                   29                12                 38
4   10                  25                12                 33
5   5                   22                10                 26
6   0                   22                8                  25
7   5                   25                15                 32
8   2                   21                13                 28
9   1                   38                20                 52
10  1                   23                13                 29
11  1                   21                13                 28
12  7                   16                11                 21
13  10                  17                12                 23
14  10                  15                10                 20
15  10                  15                6                  21
16  5                   8                 4                  10
17  1                   20                11                 26
18  10                  23                14                 30
19  10                  17                11                 23
20  7                   21                10                 26
21  6                   16                9                  20
22  4                   18                8                  22
23  1                   20                13                 25
24  0                   13                6                  15
25  1                   28                14                 40
26  10                  18                11                 25
27  10                  17                9                  21
28  10                  22                14                 31
29  10                  15                9                  22
30  10                  16                10                 21
⋮   ⋮                   ⋮                 ⋮                  ⋮
374 NA                  NA                NA                 NA
375 NA                  NA                NA                 NA
376 NA                  NA                NA                 NA
377 NA                  NA                NA                 NA
378 NA                  NA                NA                 NA
379 NA                  NA                NA                 NA
380 NA                  NA                NA                 NA
381 NA                  NA                NA                 NA
382 NA                  NA                NA                 NA
383 NA                  NA                NA                 NA
384 NA                  NA                NA                 NA
385 NA                  NA                NA                 NA
386 NA                  NA                NA                 NA
387 NA                  NA                NA                 NA
388 NA                  NA                NA                 NA
389 NA                  NA                NA                 NA
390 NA                  NA                NA                 NA
391 NA                  NA                NA                 NA
392 NA                  NA                NA                 NA
393 NA                  NA                NA                 NA
394 NA                  NA                NA                 NA
395 NA                  NA                NA                 NA
396 NA                  NA                NA                 NA
397 NA                  NA                NA                 NA
398 NA                  NA                NA                 NA
399 NA                  NA                NA                 NA
400 NA                  NA                NA                 NA
401 NA                  NA                NA                 NA
402 NA                  NA                NA                 NA
403 NA                  NA                NA                 NA
    PrecipitationIn CloudCover WindDirDegrees
1   0.01            6          268
2   0.10            7          62
3   0.44            8          254
4   0.00            3          292
5   0.11            5          61
6   1.09            8          313
7   0.13            6          350
8   0.03            8          354
9   2.90            8          38
10  0.28            8          357
11  0.02            8          230
12  T               7          286
13  T               5          298
14  0.00            4          306
15  0.00            2          324
16  T               8          79
17  0.43            8          311
18  0.01            7          281
19  0.00            4          305
20  T               6          350
21  T               8          2
22  0.05            7          24
23  0.25            8          63
24  0.56            8          12
25  0.14            6          250
26  0.00            1          255
27  0.00            3          251
28  0.01            8          252
29  0.00            4          288
30  0.00            2          313
⋮   ⋮               ⋮          ⋮
374 NA              NA         NA
375 NA              NA         NA
376 NA              NA         NA
377 NA              NA         NA
378 NA              NA         NA
379 NA              NA         NA
380 NA              NA         NA
381 NA              NA         NA
382 NA              NA         NA
383 NA              NA         NA
384 NA              NA         NA
385 NA              NA         NA
386 NA              NA         NA
387 NA              NA         NA
388 NA              NA         NA
389 NA              NA         NA
390 NA              NA         NA
391 NA              NA         NA
392 NA              NA         NA
393 NA              NA         NA
394 NA              NA         NA
395 NA              NA         NA
396 NA              NA         NA
397 NA              NA         NA
398 NA              NA         NA
399 NA              NA         NA
400 NA              NA         NA
401 NA              NA         NA
402 NA              NA         NA
403 NA              NA         NA

#### Exercise 4: `PrecipitationIn` has “T”s (Trace). “Traces” in precipitation are defined as less than 0.005 inch. So, in this case, we need to map “T”s to 0.

In [219]:
look = tidy_weather %>% filter(PrecipitationIn == "T")
look %>% head

  date       Events Max.TemperatureF Mean.TemperatureF Min.TemperatureF
1 12-12-2014 Snow   39               35                31
2 13-12-2014        42               37                32
3 16-12-2014 Rain   44               40                35
4 20-12-2014 Snow   36               32                27
5 21-12-2014 Snow   36               33                30
6 7-1-2015   Snow   26               15                4
  Max.Dew.PointF MeanDew.PointF Min.DewpointF Max.Humidity Mean.Humidity ⋯
1 28             27             25            85           75            ⋯
2 28             26             24            75           65            ⋯
3 42             36             30            96           85            ⋯
4 30             24             20            89           79            ⋯
5 30             27             25            85           77            ⋯
6 12             3              -13           88           58            ⋯
  Min.Sea.Level.PressureIn Max.VisibilityMiles Mean.VisibilityMiles
1 29.81                    10                  10
2 29.78                    10                  10
3 29.92                    10                  9
4 30.17                    10                  10
5 30.28                    10                  9
6 29.76                    10                  9
  Min.VisibilityMiles Max.Wind.SpeedMPH Mean.Wind.SpeedMPH Max.Gust.SpeedMPH
1 7                   16                11                 21
2 10                  17                12                 23
3 5                   8                 4                  10
4 7                   21                10                 26
5 6                   16                9                  20
6 2                   31                16                 40
  PrecipitationIn CloudCover WindDirDegrees
1 T               7          286
2 T               5          298
3 T               8          79
4 T               6          350
5 T               8          2
6 T               3          272

In [220]:
tidy_weather =  tidy_weather %>% 
mutate(PrecipitationIn = ifelse(PrecipitationIn == "T", "0", PrecipitationIn))

In [222]:
test = tidy_weather %>% filter(PrecipitationIn == "T")
test %>% head

Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”

     date Events Max.TemperatureF Mean.TemperatureF Min.TemperatureF
     Max.Dew.PointF MeanDew.PointF Min.DewpointF Max.Humidity Mean.Humidity ⋯
     Min.Sea.Level.PressureIn Max.VisibilityMiles Mean.VisibilityMiles
     Min.VisibilityMiles Max.Wind.SpeedMPH Mean.Wind.SpeedMPH Max.Gust.SpeedMPH
     PrecipitationIn CloudCover WindDirDegrees

#### Exercise 5: Other then events, all measures are numeric but coded as chracter. Convert them to numeric

In [223]:
tidy_weather = tidy_weather %>% mutate_each(funs = list(as.numeric), Max.TemperatureF:WindDirDegrees)
tidy_weather %>% head

  date      Events    Max.TemperatureF Mean.TemperatureF Min.TemperatureF
1 1-12-2014 Rain      64               52                39
2 2-12-2014 Rain-Snow 42               38                33
3 3-12-2014 Rain      51               44                37
4 4-12-2014           43               37                30
5 5-12-2014 Rain      42               34                26
6 6-12-2014 Rain      45               42                38
  Max.Dew.PointF MeanDew.PointF Min.DewpointF Max.Humidity Mean.Humidity ⋯
1 46             40             26             74          63            ⋯
2 40             27             17             92          72            ⋯
3 49             42             24            100          79            ⋯
4 24             21             13             69          54            ⋯
5 37             25             12             85          66            ⋯
6 45             40             36            100          93            ⋯
  Min.Sea.Level.PressureIn Max.VisibilityMiles Mean.VisibilityMiles
1 30.01                    10                  10
2 30.40                    10                   8
3 29.87                    10                   5
4 30.09                    10                  10
5 30.45                    10                  10
6 30.16                    10                   4
  Min.VisibilityMiles Max.Wind.SpeedMPH Mean.Wind.SpeedMPH Max.Gust.SpeedMPH
1 10                  22                13                 29
2  2                  24                15                 29
3  1                  29                12                 38
4 10                  25                12                 33
5  5                  22                10                 26
6  0                  22                 8                 25
  PrecipitationIn CloudCover WindDirDegrees
1 0.01            6          268
2 0.10            7           62
3 0.44            8          254
4 0.00            3          292
5 0.11            5           61
6 1.09            8          313

#### Exercise 6: What are the unique events in the dataset?

In [224]:
tidy_weather %>% select(Events) %>% unique %>% deframe

 [1] "Rain"                       "Rain-Snow"
 [3] ""                           "Snow"
 [5] "Fog-Rain"                   "Fog-Snow"
 [7] "Fog-Rain-Snow"              NA
 [9] "Fog-Rain-Thunderstorm"      "Fog"
[11] "Rain-Thunderstorm"          "Thunderstorm"
[13] "Fog-Rain-Hail-Thunderstorm"

#### Exercise 7: Empty means, there is no event. Change it to `Clear`

In [225]:
tidy_weather = tidy_weather %>% 
mutate(Events = ifelse(Events == "", "Clear", Events))

tidy_weather %>% select(Events) %>% unique %>% deframe

 [1] "Rain"                       "Rain-Snow"
 [3] "Clear"                      "Snow"
 [5] "Fog-Rain"                   "Fog-Snow"
 [7] "Fog-Rain-Snow"              NA
 [9] "Fog-Rain-Thunderstorm"      "Fog"
[11] "Rain-Thunderstorm"          "Thunderstorm"
[13] "Fog-Rain-Hail-Thunderstorm"

Reference: [Cleaning Messy Weather Dataset with tidyverse](https://www.rpubs.com/justinhtet/cleaning-messy-weather-dataset-with-tidyverse)