# Lab 10: Lists, Loops, Functions, Mapping
### Last lab of the semester! You did it!!!

In [41]:
library(tidyverse)

## Q1: List operations

### 1. How does `[[.]]` differ from `[.]` when you are subsetting a list?

In [42]:
x = list(1,2,3)

In [43]:
x[1] # A slice from the list, still a list
class(x[1])

[[1]]
[1] 1

[1] "list"

In [44]:
x[[1]] # Accessing first element of the list
class(x[[1]])

[1] 1

[1] "numeric"

### 2. How do you extract the last value of an atomic vector?

In [45]:
x  = c(-3,-2,-1)
x[length(x)]

[1] -1

### 3. How do you extract every value but the last value of an atomic vector?

In [46]:
x[-length(x)]

[1] -3 -2

### 4. Why is `x[-which(x > 0)]` not the same as `x[x <= 0]` where `x` is an atomic vector?

In [47]:
print(x[-which(x > 0)])
print(x[x<=0])

numeric(0)
[1] -3 -2 -1

In [48]:
which(x > 0) # returns empty

integer(0)

In [49]:
x<=0

[1] TRUE TRUE TRUE

It would work if `which` condition is not empty!

In [50]:
x  = c(-3,-2,-1, 1)
print(x[-which(x > 0)])
print(x[x<=0])

[1] -3 -2 -1
[1] -3 -2 -1

## Q2: While Loops: 

### 1. Generate random numbers from Normal(0, 1) and stop when you have more positive values than negatives. Write a function that implements above algortihm and returns number of iterations.
Algorithm:
1. set pc = 0 and nc = 0
1. Generate Y~Normal(0,1)
1. If Y>0 then pc = pc+1 otherwise nc = nc+1
1. Repeat 2-3 until pc>nc

In [51]:
f = function(){
    
    
}

In [52]:
f()

NULL

### 2. Call this function 100 times

In [53]:
# x = map_dbl(1:100, ~f())
# x

## Q3: For Loops

### 1. Compute the mean of every column in mtcars with na.rm argument being true

In [55]:
seq_along(mtcars)
1:ncol(mtcars)

 [1]  1  2  3  4  5  6  7  8  9 10 11

 [1]  1  2  3  4  5  6  7  8  9 10 11

### 2. Determine the type of each column of iris

### 3. Compute the number of unique values in each column of iris.

## Q4: repeat Q3 with map functions rather than loops and apply:

In [58]:
map_dbl(mtcars, mean, na.rm = T)

map_chr(iris, typeof)

map_int(iris, ~ length(unique(.)))

       mpg        cyl       disp         hp       drat         wt       qsec
 20.090625   6.187500 230.721875 146.687500   3.596563   3.217250  17.848750
        vs         am       gear       carb
  0.437500   0.406250   3.687500   2.812500

Sepal.Length  Sepal.Width Petal.Length  Petal.Width      Species
    "double"     "double"     "double"     "double"    "integer"

Sepal.Length  Sepal.Width Petal.Length  Petal.Width      Species
          35           23           43           22            3

## Q5: Writing functions (recursions):

Factorials: $n! = n(n-1)(n-2)\dots1$\
factorial(n) = n*factorial(n-1)\
Base case: factorial(0) = 1

In [59]:
factorial = function(n){
    if(n == 0){
        return(1)
    }else{
        return(n*factorial(n-1))
    }
}

In [65]:
factorial(20)

[1] 2.432902e+18

### 1. Suppose Joe wants to climb n stairs, at each step, Joe can climb 1 stair or 2 stairs; write a function to find out many different ways are there for Joe to climb n stairs. Example: if n=3, then Joe has 3 ways: (1,1,1), (1,2), and (2,1).

If there are 10 stairs initially after 1 step there could be 9 or 8 stairs ahead. So the process restarts with 9 or 8 stair after one step. Let's suppose we have a function that calculates number of differen ways, call this function `nways`, `nways(10) = nways(9) + nways(8)`. In general `nways(n) = nways(n-1)+nways(n-2)`. How about if only 1 step left? Then there is just 1 way to climb it so `nways(1) = 1`. If it is 2 then, It can be (1,1) or (2). Therefore `nways(2) = 2` and `nways(1) =  1`

In [62]:
# say n = 4
# n != 1 
# n != 2
# return nways(3) + nways(2)
  # return (nways(2) + nways(1)) + 2
    # return (2 + 1) + 2 = 5
# nways(4)