# Lab 2: More ggplot and dplyr

`YCH` stands for *Your Code Here*. Please write your own code in the places where you see `YCH`.

In [ ]:
library(tidyverse)

In [ ]:
# randomly sampling a subset from dataset
set.seed(1998)
dm = diamonds %>% sample_n(1000)
names(dm)
summary(dm)

# ggplot

![Caption for the picture.](https://raw.githubusercontent.com/enesdilber/stats306_labs/master/lab2/graph1.png)

In [ ]:
p1 = ggplot(dm) + 
    geom_point(aes(x, price, color = cut)) + 
    facet_wrap(~clarity, ncol=4)
print(p1)

## Geometric objects
So far we have plotted the points in a fundamental manner. We might be interested in trends of the data that we have.

In [ ]:
p2 = ggplot(dm) +
    geom_point(aes(x, price)) + # don't necessarily have to specify x = ..., y = ...
    geom_smooth(aes(x, price))
print(p2)
# notice the default method used by geom_smooth()

### Exercise 1
In the above fit, use locally weighted scatterplot smoother ("loess") instead of general additive model ("gam", the automatic smoothing method for n >= 1000). (see documentation)

In [ ]:
?geom_smooth
p3 = ggplot(dm) + 
    geom_point(YCH) + 
    geom_smooth(YCH)
p3

### Exercise 2.1 
Fit a linear line.

In [ ]:
p4 = ggplot(dm) + 
    geom_point(YCH) + 
    geom_smooth(YCH)
p4

### Exercise 2.2
Make separate linear lines for each category of the clarity variable.

In [ ]:
p4 = ggplot(dm) + 
    geom_point(YCH) + 
    geom_smooth(YCH)
p4

### Exercise 3
How to reduce the code duplication above? "(x=x, y=price)" is in both lines.

In [ ]:
p5 = ggplot(YCH) + 
    geom_point() +    
    geom_smooth(method = "lm", se = F)
p5

### Some other parameters

In [ ]:
?geom_smooth
p6 = ggplot(dm, aes(x, price, color = clarity)) + 
    geom_point(show.legend=FALSE ) + 
    geom_smooth(method = "lm", se = T, show.legend=FALSE ) #+ theme(legend.position = "none")
p6

1. What does show.legend=FALSE do? 
2. What does the se argument in geom_smooth do?

### Homework (You don't need to turn it in)
1. What geom would you use to draw a line chart with these data? A boxplot? A histogram? An area chart?
2. Think about this code in your head and predict what the output will look like. Then, run the code in R and check your predicions.

In [ ]:
# Boxplot

# Histogram

# Area Chart

# Hint: try Googling ggplot2 cheatsheet!

## Statistical transformations
Many graphs, like scatterplots, plot the raw values of your dataset. Other graphs, like bar charts, calculate new values to plot.

You can learn which stat a geom uses by inspecting the default value for the 'stat' argument. For example, ?geom_bar shows that the default value for stat is 'count', which means that geom_bar() uses stat_count().

stat_count() is documented on the same page as geom_bar(), and if you scroll down you can find a section called "computed variables." That describes how it computes two new variables: count and prop.

Let's use the following case where we override the default stat and instead want to use a value within the dataset of the y-axis (instead of a count).

In [ ]:
?geom_bar

In [ ]:
popn <- tribble(
~city, ~population,
"Istanbul", 15029231,
"Moscow", 12615279,
"Saint Petersburg", 9126366,
"Berlin", 5383890,
"Madrid", 3748148
)
popn

![Caption for the picture.](https://raw.githubusercontent.com/enesdilber/stats306_labs/master/lab2/graph5.png)

In [ ]:
ggplot(YCH) + 
    geom_col() + YCH # don't forget to add a title!

In [ ]:
ggplot(data = dm) + 
    geom_bar(mapping = aes(x=cut, y=..prop.., group  = 1))

Other times, you want to draw greater attention to the statistical transformation in your code. For example, you might use stat_summary() which summarises the y values for each unique x value, to draw attention to the summary that you're computing:

![Screen Shot 2021-01-31 at 9.24.05 PM.png]()

In [ ]:
ggplot(data = dm, aes(cut, depth)) + 
    stat_summary(fun = mean, fun.min = min, fun.max = max, size = .3)

### Things to think about:

1. What is the default geom associated with stat_summary()? How could you rewrite the previous plot to use that geom function instead of the stat function?
2. What does geom_col() do? How is it different to geom_bar()?
3. Most geoms and stats come in pairs that are almost always used in concert. Read through the documentation and make a list of all the pairs. What do they have in common?
4. What variables does stat_smooth() compute? What parameters control its behaviour?
6. In our proportion bar chart, we need to set group = 1. Why?

## Position adjustments

In [ ]:
# Difference between color and fill
ggplot(data = diamonds, aes(x = cut, color = cut)) + 
  geom_bar()
ggplot(data = diamonds) + 
  geom_bar(mapping = aes(x = cut, fill = cut))

Remember that we can "color by" a different variable - in this case, clarity. By default, it stacks the bars for each clarity level. This is done using the positional adjustment specified by the position argument of geom_bar. If you don't want a stacked bar chart, you can use one of three other options: "identity", "dodge", or "fill".

![Caption for the picture.](https://raw.githubusercontent.com/enesdilber/stats306_labs/master/lab2/graph7.png)

In [ ]:
ggplot(data = dm, aes(x = cut)) + 
  geom_bar(aes(fill = clarity))

*position = "fill"*

This works like stacking, but makes each set of stacked bars the same height. This makes it easier to compare proportions across groups.

In [ ]:
ggplot(data = dm) + 
  geom_bar(mapping = aes(x = cut, fill = clarity), position = "fill")

*position = 'dodge'*

This places overlapping objects directly beside one another, which makes it easier to compare individual values.

![Caption for the picture.](https://raw.githubusercontent.com/enesdilber/stats306_labs/master/lab2/graph10.png)

In [ ]:
ggplot(data = dm) + 
  geom_bar(YCH)

A positional adjustment that is very useful for scatterplots with overlaps is the 'jitter' argument.

In [ ]:
ggplot(data = dm) + 
  geom_point(mapping = aes(x = cut, y = price))

ggplot(data = dm) + 
  geom_point(mapping = aes(x = cut, y = price), position = "jitter")

### Things to think about:
1. What parameters to geom_jitter() control the amount of jittering?
2. Compare and contrast geom_jitter() with geom_count().

# dplyr for data manipulation

In [ ]:
dim(dm)
head(dm)

Notice the abreviations under the column names. Can you guess what 'dbl', 'ord', and 'int' are?


Notice how the levels below follow an order. Indeed, we expect Fair < Good < Very Good < Premium < Ideal.

In [ ]:
print(levels(dm$cut))
print(levels(dm$color))
print(levels(dm$clarity))

In [ ]:
sizes = c("M", "S", "S", "M", "XL", "XXL", "XL", "S", "M", "L")
levels(as.factor(sizes))

In [ ]:
sizes = ordered(sizes, levels = c("S", "M", "L", "XL", "XXL"))
levels(sizes)

There are five functions in dplyr: filter, arrange, select, mutate and summarise. All of them have the following properties:
1. The first argument is a data frame.
2. The subsequent arguments describe what to do with the data frame, using the variable names (without quotes).
3. The result is a new data frame.

## Filter
Used if you want to view or store a new dataset containing a subset of the full dataset.

In [ ]:
filter(dm, cut == 'Fair', color == 'J')

Usually you want to store the newly subsetted data in memory.

In [ ]:
worst_diamonds = filter(dm, cut == 'Fair', color == 'J')

Make sure to use '==' instead of '='. The former is to test equality while the latter is for assignments.

In [ ]:
4 == 6
test = 6
test
test == 5

## Filtering on conditions

In [ ]:
a = filter(dm, color == 'D' | cut == 'Fair') 
# filtering for rows that satisfy one or both of the conditions

b = filter(dm, color == 'D' & cut == 'Fair') 
# filtering for rows that satisfy both conditions

c = filter(dm, xor(color == 'D', cut == 'Fair')) 
# filtering for rows that satisfy exactly one condition

best_cuts = filter(dm, cut == 'Ideal')
# filtering using membership condition

not_worst_cuts = filter(dm, cut != "Fair")
# can do this because cut is an ordinal variable

In [ ]:
not_worst_cuts[1:20,]

In R, if you want to find if a variable's value is missing, use the is.na() function. In particular, do not check for equality with NA:

In [ ]:
x = 4
x == NA
is.na(x)

Similarly, never put an equality condition with NA in your dplyr filter() statements.

In [ ]:
# create a dataframe
df = tibble(x = c(1, NA, 3))
print(df)

In [ ]:
filter(df, x==NA)

In [ ]:
filter(df, is.na(x) | x > 1)

### Homework (Don't turn this in though!!!)
1. Write code using filter that will allow you to output diamonds with colors D or E and cuts Good or Very Good.
2. Write code using filter that wil allow you to output diamonds with even-numbered prices.

## Arrange
Useful for ordering rows instead of filtering for a subset of them

In [ ]:
arrange(dm, clarity, color)[1:20,]

Missing values are always sorted at the end:

In [ ]:
df = tibble(x = c(5, NA, 2))
arrange(df, x)

In [ ]:
arrange(df, desc(x))

### Exercise
1. Use arrange to sort the dm dataset by describing order of the product of the x, y, and z variables. Output the first 20 rows of the new dataset.

In [ ]:
arrange(dm, desc(YCH))[1:20,]

## Select
This is used to reduce the number of columns that we're dealing with.

In [ ]:
names(dm)

In [ ]:
select(dm, carat, price)[1:20,]

In [ ]:
select(dm, carat:price)[1:20,]

In [ ]:
select(dm, -(carat:price))[1:20,]

Use rename(), which is a variant of select(), to rename a column and keep all the variables that aren't explicitly mentioned:

In [ ]:
rename(dm, width=x)[1:20,]

In [ ]:
select(dm, width = x)[1:20,]

Another option is to use select() in conjunction with the everything() helper. This is useful if you have a handful of variables you would like to move to the start of the dtaframe

In [ ]:
select(dm, price, carat, everything())[1:20,]

There are some helper functions for select():
    starts_with(),
    ends_with(),
    contains()
    
### Exercise:
1. Write code that wil have price as the first column and the columns starting with the letter 'c' as the following columns. Output the first 20 rows of such a datset.

In [ ]:
select(dm, YCH)[1:20,]

### Mutate
to create a computed column:

In [ ]:
dm_dimensions = select(dm, -(carat:price))
mutate(dm_dimensions, volume = x*y*z)[1:20,]

If you only want to keep the new variables, use transmute()

In [ ]:
transmute(dm_dimensions, volume = x*y*z)[1:20,]

Read Section 5.5.1 in the book for some specific functions.


## Summarise

In [ ]:
by_color = group_by(dm, color)
summarise(by_color, avg_price = mean(price, na.rm = TRUE))

In [ ]:
head(mpg)

In [ ]:
mpg2 = mpg
mpg2$year = as.factor(mpg$year) # telling it we're dealing with a category column
mpg2 = mutate(mpg2, manual = (grepl('manual', trans))) # regexp
head(mpg2)

In [ ]:
by_maker_yr = group_by(mpg2, manufacturer, year)
hwy_summary = summarise(by_maker_yr,
                       count = n(),
                       hwy = mean(hwy, na.rm = TRUE),
                       cty = mean(cty, na.rm = TRUE))
hwy_summary

In [ ]:
hwy_summary_ag = filter(hwy_summary, substring(manufacturer,1,1) %in% c('a','b','c','d','e','f','g'))
hwy_summary_ag

In [ ]:
ggplot(data = hwy_summary_ag, mapping = aes(x = cty, y = hwy)) + 
    geom_point(mapping = aes(color = manufacturer, shape = year))

## Pipes
The transformations above can be written as:

In [ ]:
hwy_summary_ag2 = mpg2 %>% 
group_by(manufacturer, year) %>%
summarise(
    count = n(),
    hwy = mean(hwy, na.rm = TRUE),
    cty = mean(cty, na.rm = TRUE)) %>%
filter(substring(manufacturer,1,1) %in% c('a','b','c','d','e','f','g'))

In [ ]:
hwy_summary_ag2